body{
    
    background-image:url("../image/background_fond.jpg");
    background-repeat:no-repeat;
    background-position:top;
    background-attachment:fixed;
    background-size:1200px;  
    background-size:cover;   
}

.id{
    background:linear-gradient(#e12424, #9198e5);
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;    
    font-weight:800;
    border:solid;
    border:1rem solid;
    writing-mode:horizontal-tb;
    direction:rtl;
    border-color:rgb(255, 255, 255);
    border-radius:40px;
    margin-left:85px;
    margin-right:50px;   
    margin-top:10px;
    margin-bottom:45px;      
}

.menu-hamburger {
    position: absolute; 
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 1000; 
}

.menu-hamburger div {
    width: 35px;
    height: 4px;
    background-color: white; 
    margin: 10px 0; 
    border-radius: 2px; 
    transition: background-color 0.3s; 
}

.menu-hamburger:hover div {
    background-color: black; 
}

.container{
    color:white;    
    justify-content:space-around;
    flex-direction:row;
    display:flex;
}
.container a{
    color: white;
}

.Competence{
    border:solid;
    border-left:10px;
    border-right:10px;
    border-radius:10px;
    margin-left:25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}

.Competence:hover{
    background-color: rgb(0, 0, 0);
    color:black;
}

.VT{
    border:solid;
    border-left:10px;
    border-right:10px;
    border-radius:10px;
    margin-left:25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}

.VT:hover{
    background-color:rgb(0, 0, 0);
    color:black;
}

.Experience{
    border:solid;
    border-left:10px;
    border-right:10px;
    border-radius:10px;
    margin-left:25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}

.Experience:hover{
    background-color:rgb(0, 0, 0);
    color:black;
}

.projet{
    border:solid;
    border-left:10px;
    border-right:10px;
    border-radius:10px;
    margin-left:25px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
}

.projet:hover{
    background-color:rgb(0, 0, 0);
    color:black;
}

.PresentationPerso{
    border:solid;
    border-left:10px;
    border-right:10px;
    border-radius:10px;
    margin-left:25px;
    margin-right:25px ;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}

.PresentationPerso:hover{
    background-color:rgb(0, 0, 0);
    color:black;
}

.piedPage{
    
    opacity:0.77;
    color:white;
    background-color:grey;
    border:solid;
    border-color:black;
    margin-top: 50px;
    text-align: center;
    background:linear-gradient(#e12424, #9198e5);
    opacity: 0.65;      
}
.sous_page1, .sous_page2, .droit {
    margin: 5px 0;
}

.sous_page1:hover, .sous_page2:hover, .droit:hover{
    color:black;
}

.Titre{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:110px;
    font-weight:bolder;
    margin-left:770px;
    color: white;    
}

.containerInteret {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-gap: 20px;
}

.piedPage{
    
    opacity:0.77;
    color:white;
    background-color:grey;
    border:solid;
    border-color:black;
    margin-top: 50px;
    text-align: center;
    background:linear-gradient(#e12424, #9198e5);
    opacity: 0.65;
    padding: 20px 0; 
    position: relative; 
    bottom: 0;
    width: 100%;  
}


.sous_page1, .sous_page2, .droit {
    margin: 5px 0;
}

.sous_page1:hover, .sous_page2:hover, .droit:hover{
    color:black;
}


/*Style Presentation Personnelle*/

body{   
    margin-top:25px;
    margin-left:25px;
    color: white;
}

.en_tete{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:50px; 
    
    margin-bottom: 50px;   
}

.personnel{
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    margin-bottom: 120px;
}

.image{
    width: 450px;
    height: 225px; 
    margin-top:100px;     
}

.titreCV{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    
}

.CV{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;    
}

.cvPerso:hover{
    color: white;
}

.titreFor {
    font-size:19px;
    font-family: Arial, Helvetica, sans-serif;
}

.formation{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.titreLangue{
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
    color:white;
}

.ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin-bottom:30px;
}

.centre_interet{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.placement{
    justify-content:center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:(2, 1fr);
    gap:10px; /*ecart entre les images*/
    margin-left:20px;
    margin-right:20px;
    
}

.box{
    background-color:black;
    opacity: 0.9;
    border-radius:20px;
    display:flex;
    align-items:center;
    font-size:20px;
    padding: 20px;
    margin-bottom:20px;
    animation: slideIn 1s ease-out forwards;
    text-align: center;
    justify-content: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
}

.box img {
    width: 100%; 
    max-width: 410px; 
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px; 
}

.box p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: white;
    margin: 0;
}

/*Style compétence*/

.titre{
    color: white;
    text-align: center;
}

#Certifications a{
    color: white;
}

.image img {
    width:100%;
}

.image{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.ANSSI{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.certificationContainer{
    display: flex;
}

.certificationTitles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 50px;
}

.certificationImages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 300px;
}

.certificationImages .imgCnil {
    width: 650px;
    height: auto;  
    float: left;  
}

.certificationImages .imgAnssi { 
    width: 650px;   
    height: auto;
    float: right;
    transition: transform 0.3s ease-in-out; /* Ajout de la transition pour un effet fluide */ 
}

.certificationImages .imgCnil:hover, .certificationImages .imgAnssi:hover {
    transform: scale(1.2); /* Agrandissement de l'image à 120% */
}

/* Fixe la taille et positionne les images pour qu'elles flottent correctement */
.certificationImages .imgCnil {
    float: left;
}

.certificationImages .imgAnssi {
    float: right;
}

/*Style Projet*/

.titreProjet{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    text-align: center;
    margin-bottom:50px;
}

.phraseIntro {
    margin-bottom:40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:19px;
}

.differentsProjet {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:24px;
    font-weight: bold;
    text-decoration: underline;
}

.liste{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-left: 25px;
    margin-bottom: 235px;
}

/*Expérience professionnelle et stage*/

.titre{
    color:white;
    text-align: center;
    font-size:18px;
}

.experience_pro {
    font-family: Arial, Helvetica, sans-serif ;    
    font-size:16px;
    color: white;
    margin-left: 30px;
    margin-top: 105px;
}

.Stage{
    font-family: Arial, Helvetica, sans-serif ;    
    font-size:16px;
    color: white;
    margin-left: 30px;
    margin-top: 85px;
    margin-bottom: 230px;
}

.logo{
    width:350px;
}
.logoExpEtTexte{
    display: flex;
    flex-direction: row;
}

/*Veille technologique*/

.titre{
    color: white;
    font-size:18px;
    font-family: Arial, Helvetica, sans-serif;
}

.p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color: white;
    margin-top: 80px;
    margin-bottom:540px;
}