body {
    background-image: url('../imageExercice/pingouin.png'), url('../imageExercice/feuilles.png');
    background-repeat: no-repeat, repeat;
    background-position: center;    
}
h1 {
    color : violet
}

.P1 {
    font-style: italic;
}